<div class="main-content">
  <div class="container-fluid">
    <div class="alert alert-danger" *ngIf="!campos" role="alert">
      Erro ao cadastrar/editar estagiário! Todos os campos são obrigatórios!
      Preencha e tente novamente!
    </div>
    <div class="alert alert-danger" *ngIf="sucesso2" role="alert">
      Estagiario excluído com sucesso!
    </div>
    <div class="alert alert-success" *ngIf="sucesso" role="alert">
      Cadastro/Edição efetuado(a) com sucesso!
    </div>

    <div class="row">
      <div class="col-md-15">
        <div class="card">
          <div class="header">
            <h4 class="title">Cadastrar/Editar Estagiários</h4>
          </div>
          <div class="content">
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input
                      type="email"
                      name="email"
                      [(ngModel)]="estagiario.email"
                      class="form-control"
                      placeholder="Insira seu email aqui"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Senha</label>
                    <input
                      type="text"
                      name="senha"
                      [(ngModel)]="estagiario.senha"
                      class="form-control"
                      placeholder="Insira a senha aqui"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Registro Acadêmico</label>
                    <input
                      type="text"
                      name="ra"
                      [(ngModel)]="estagiario.ra"
                      class="form-control"
                      placeholder="Insira o R.A. aqui"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Nome Completo</label>
                    <input
                      type="text"
                      name="nome"
                      [(ngModel)]="estagiario.nome"
                      class="form-control"
                      placeholder="Insira o nome aqui"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Telefone/Contato</label>
                    <input
                      type="text"
                      name="contato"
                      [(ngModel)]="estagiario.contato"
                      class="form-control"
                      placeholder="Insira o contato aqui"
                      mask="(00) 000000000"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Curso - Selecione</label>
                    <select
                      class="form-control"
                      name="curso"
                      [(ngModel)]="estagiario.curso"
                    >
                      <option value="Educação Física">Educação Física</option>
                      <option value="Enfermagem">Enfermagem</option>
                      <option value="Estética">Estética </option>
                      <option value="Farmácia">Farmácia</option>
                      <option value="Fisioterapia">Fisioterapia</option>
                      <option value="Odontologia">Odontologia</option>
                      <option value="Psicologia">Psicologia</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Supervisor Responsável - Selecione</label>
                      <select
                        class="form-control"
                        name="estagiario.supervisor"
                        [(ngModel)]="estagiario.supervisor"
                      >
                        <option
                          *ngFor="let supervisor of supervisores | async"
                          value="{{ supervisor.email }}"
                        >
                          {{ supervisor.nome }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <button
                style=" width: 20%"
                type="submit"
                class="btn btn-info btn-fill pull-right"
              >
                Salvar
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-15" style="width: 54rem; max-width: 54rem;">
        <div class="card">
          <div class="header">
            <h4 class="title">Lista de Estagiários</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <div *ngIf="carregando" class="alert alert-info text-center">
              <strong>Atualizando lista...</strong>
            </div>
            <table class="table table-hover table-striped" *ngIf="!carregando">
              <thead>
                <th class="col-md-4">Nome</th>
                <th class="col-md-3">Curso</th>
                <th class="col-md-2">Contato</th>
                <th class="col-md-4">Operações</th>
              </thead>
              <tbody>
                <tr *ngFor="let estagiario of estagiarios | async">
                  <td class="col-md-4">{{ estagiario.nome }}</td>
                  <td class="col-md-3">{{ estagiario.curso }}</td>
                  <td class="col-md-2">{{ estagiario.contato }}</td>
                  <td class="col-md-4">
                    <button
                      style=" width: 49%"
                      class="btn btn-success btn-fill"
                      mwlConfirmationPopover
                      placement="left"
                      [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage2"
                      (confirm)="edit(estagiario, estagiario.key)"
                      (cancel)="cancelClicked = true"
                    >
                      Editar
                    </button>
                    <button
                      style="margin-left: 2%; width: 49%"
                      class="btn btn-danger btn-fill"
                      mwlConfirmationPopover
                      placement="left"
                      [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage"
                      (confirm)="delete(estagiario.key)"
                      (cancel)="cancelClicked = true"
                    >
                      Excluir
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
