<div class="main-content" #scrollContainer>
  <div class="container-fluid">
    <div class="alert alert-danger" *ngIf="!campos" role="alert">
      Erro ao cadastrar supervisor! Todos os campos são obrigatórios! Preencha e
      tente novamente!
    </div>
    <div class="alert alert-danger" *ngIf="sucesso2" role="alert">
      Supervisor excluído com sucesso!
    </div>
    <div class="alert alert-success" *ngIf="sucesso" role="alert">
      Cadastro efetuado com sucesso!
    </div>

    <!-- Formulário -->
    <div class="row">
      <div class="col-md-15">
        <div class="card">
          <div class="header">
            <h4 class="title">Cadastrar/Editar Supervisores</h4>
          </div>
          <div class="content">
            <form (ngSubmit)="onSubmit()">
              <!-- Campos do Formulário -->
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input
                      type="email"
                      name="email"
                      [(ngModel)]="supervisor.email"
                      class="form-control"
                      placeholder="Insira seu email aqui"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Senha</label>
                    <input
                      type="text"
                      name="senha"
                      [(ngModel)]="supervisor.senha"
                      class="form-control"
                      placeholder="Insira a senha aqui"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Nome Completo</label>
                    <input
                      type="text"
                      name="nome"
                      [(ngModel)]="supervisor.nome"
                      class="form-control"
                      placeholder="Insira o nome aqui"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Telefone/Contato</label>
                    <input
                      type="text"
                      name="contato"
                      [(ngModel)]="supervisor.contato"
                      class="form-control"
                      placeholder="Insira o contato aqui"
                    />
                  </div>
                </div>
              </div>

              <button
                style="width: 20%;"
                type="submit"
                class="btn btn-info btn-fill pull-right"
              >
                Salvar
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Lista de Supervisores -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-13" style="width: 56rem; max-width: 56rem;">
        <div class="card">
          <div class="header">
            <h4 class="title">Lista de Supervisores</h4>
          </div>
          <div class="content table-responsive table-full-width">

            <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por nome" class="form-control" style="margin-bottom: 10px; width: 50%; margin-left: 5px;" />

            <nav *ngIf="totalPages > 1">
              <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" (click)="changePage(currentPage - 1)">
                    &#9664;
                  </a>
                </li>
                <li
                  class="page-item"
                  *ngFor="let page of [].constructor(totalPages); let i = index"
                  [class.active]="currentPage === i + 1"
                >
                  <a class="page-link" (click)="changePage(i + 1)">
                    {{ i + 1 }}
                  </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link" (click)="changePage(currentPage + 1)">
                    &#9654;
                  </a>
                </li>
              </ul>
            </nav>

            <div *ngIf="carregando" class="alert alert-info text-center">
              <strong>Atualizando lista...</strong>
            </div>


            <table class="table table-hover table-striped" *ngIf="!carregando">
              <thead>
                <th class="col-md-4">Nome</th>
                <th class="col-md-3">Email</th>
                <th class="col-md-2">Contato</th>
                <th class="col-md-4">Operações</th>
              </thead>
              <tbody>
                <tr *ngFor="let supervisor of filteredSupervisores">
                  <td class="col-md-4">{{ supervisor.nome }}</td>
                  <td class="col-md-3">{{ supervisor.email }}</td>
                  <td class="col-md-2">{{ supervisor.contato }}</td>
                  <td class="col-md-4">
                    <button
                      style="width: 49%;"
                      class="btn btn-success btn-fill"
                      mwlConfirmationPopover
                      placement="left"
                      [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage2"
                      (confirm)="edit(supervisor, supervisor.key)"
                      (cancel)="cancelClicked = true">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button
                      style="margin-left: 2%; width: 49%;"
                      class="btn btn-danger btn-fill"
                      mwlConfirmationPopover
                      placement="left"
                      [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage"
                      (confirm)="delete(supervisor.key)"
                      (cancel)="cancelClicked = true">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <nav *ngIf="totalPages > 1">
              <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" (click)="changePage(currentPage - 1)">
                    &#9664;
                  </a>
                </li>
                <li
                  class="page-item"
                  *ngFor="let page of [].constructor(totalPages); let i = index"
                  [class.active]="currentPage === i + 1"
                >
                  <a class="page-link" (click)="changePage(i + 1)">
                    {{ i + 1 }}
                  </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link" (click)="changePage(currentPage + 1)">
                    &#9654;
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
