<div class="main-content">
  <div class="container-fluid">
    <div class="alert alert-danger" *ngIf="!campos" role="alert">
      Erro ao cadastrar/editar paciente! Todos os campos são obrigatórios!
      Preencha e tente novamente!
    </div>
    <div class="alert alert-danger" *ngIf="sucesso2" role="alert">
      Paciente excluído com sucesso!
    </div>
    <div class="alert alert-success" *ngIf="sucesso" role="alert">
      Cadastro/Edição efetuado(a) com sucesso!
    </div>

    <div class="row">
      <div class="col-md-15">
        <div class="card">
          <div class="header">
            <h4 class="title">Cadastrar/Editar Pacientes</h4>
          </div>
          <div class="content">
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nome Completo</label>
                    <input
                      type="nome"
                      name="paciente.nome"
                      [(ngModel)]="paciente.nome"
                      class="form-control"
                      placeholder="Insira o nome completo aqui"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nome do Pai</label>
                    <input
                      type="nome"
                      name="paciente.pai"
                      [(ngModel)]="paciente.pai"
                      class="form-control"
                      placeholder="Insira o nome do pai aqui"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nome da Mãe</label>
                    <input
                      type="nome"
                      name="paciente.mae"
                      [(ngModel)]="paciente.mae"
                      class="form-control"
                      placeholder="Insira o nome da mãe aqui"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">CPF</label>
                    <input
                      type="nome"
                      name="paciente.cpf"
                      [(ngModel)]="paciente.cpf"
                      class="form-control"
                      placeholder="Insira o CPF aqui"
                      mask="000.000.000-00"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">RG</label>
                    <input
                      type="nome"
                      name="paciente.rg"
                      [(ngModel)]="paciente.rg"
                      class="form-control"
                      placeholder="Insira o RG aqui"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Cartão SUS</label>
                    <input
                      type="nome"
                      name="paciente.sus"
                      [(ngModel)]="paciente.sus"
                      class="form-control"
                      placeholder="Insira o número aqui"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Data de Nascimento</label>
                    <input
                      type="nome"
                      name="paciente.nascimento"
                      class="form-control"
                      [(ngModel)]="paciente.nascimento"
                      placeholder="dd/mm/aaaa"
                      mask="00/00/0000"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Contato</label>
                    <input
                      type="text"
                      name="paciente.contato"
                      [(ngModel)]="paciente.contato"
                      class="form-control"
                      placeholder="(42)12345678x"
                      mask="(00) 000000000"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">CEP</label>
                    <input
                      type="nome"
                      name="paciente.cep"
                      [(ngModel)]="paciente.cep"
                      class="form-control"
                      placeholder="Insira o CEP aqui"
                      mask="00000 - 000"
                      (blur)="buscaCep(paciente.cep)"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Rua</label>
                    <input
                      type="nome"
                      name="paciente.rua"
                      [(ngModel)]="paciente.rua"
                      class="form-control"
                      placeholder="Insira a rua aqui"
                    />
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Número</label>
                    <input
                      type="nome"
                      name="paciente.numero"
                      [(ngModel)]="paciente.numero"
                      class="form-control"
                      placeholder="Num"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Cidade</label>
                    <input
                      type="text"
                      name="paciente.cidade"
                      [(ngModel)]="paciente.cidade"
                      class="form-control"
                      placeholder="Insira a cidade aqui"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Bairro</label>
                    <input
                      type="text"
                      name="paciente.bairro"
                      [(ngModel)]="paciente.bairro"
                      class="form-control"
                      placeholder="Insira o bairro aqui"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Estagiário(s) Responsável(eis)</label>
                    <ng-multiselect-dropdown
                      [placeholder]="'Selecione'"
                      [data]="dropdownList"
                      [(ngModel)]="paciente.responsaveis"
                      name="paciente.responsaveis"
                      [settings]="dropdownSettings"
                    >
                    </ng-multiselect-dropdown>
                  </div>
                </div>
              </div>

              <button
                style=" width: 20%"
                type="submit"
                class="btn btn-info btn-fill pull-right"
              >
                Salvar
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-14">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-5">
                <h4 class="title">Lista de Pacientes</h4>
              </div>
            </div>
            <br />
          </div>
          <div class="content table-responsive table-full-width">
            <div *ngIf="carregando" class="alert alert-info text-center">
              <strong>Atualizando lista...</strong>
            </div>
            <table class="table table-hover table-striped" *ngIf="!carregando">
              <thead>
                <th class="col-md-3">Nome</th>
                <th class="col-md-2">Contato</th>
                <th class="col-md-3">Responsáveis</th>
                <th class="col-md-4">Operações</th>
              </thead>
              <tbody>
                <tr *ngFor="let paciente of pacientes | async">
                  <td class="col-md-3">{{ paciente.nome }}</td>
                  <td class="col-md-2">{{ paciente.contato }}</td>
                  <td class="col-md-3">
                    <ul>
                      <li *ngFor="let resp of paciente.responsaveis">
                        {{ resp?.nome || resp }}
                      </li>
                    </ul>
                  </td>
                  <td class="col-md-4">
                    <button
                      style=" width: 35%; margin-right: 2%; margin-bottom: 2%"
                      class="btn btn-success btn-fill"
                      mwlConfirmationPopover
                      placement="left"
                      [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage2"
                      (confirm)="edit(paciente, paciente.key)"
                      (cancel)="cancelClicked = true"
                    >
                      Editar
                    </button>
                    <button
                      style="width: 35%; margin-right: 2%; margin-bottom: 2%"
                      class="btn btn-danger btn-fill"
                      mwlConfirmationPopover
                      placement="left"
                      [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage"
                      (confirm)="delete(paciente.key)"
                      (cancel)="cancelClicked = true"
                    >
                      Excluir
                    </button>
                    <button
                      style=" width: 35%; margin-right: 2%; margin-bottom: 2%"
                      class="btn btn-primary btn-fill"
                      (click)="irParaAcolhimento(paciente.key)"
                    >
                      Acolhimento
                    </button>
                    <button
                      style=" width: 35%; margin-right: 2%; margin-bottom: 2%"
                      class="btn btn-secondary btn-fill"
                      (click)="irParaEvolucao(paciente.key)"
                    >
                      Evolução
                    </button>
                    <button
                      style=" width: 35%; margin-right: 2%; margin-bottom: 2%"
                      class="btn btn-warning btn-fill"
                      (click)="irParaAvaliacao(paciente.key)"
                    >
                      Avaliação
                    </button>
                    <br />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
