<div class="alert alert-danger" *ngIf="erro" role="alert">
  Login ou Senha Incorretas! Tente Novamente! <br />
  Se o erro persistir entre em contato com o desenvolvedor!
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 mx-auto" style="max-width: fit-content;">
      <div class="card card-signin my-5">
        <div class="card-body">
          <img
            src="/assets/img/app-clinica.png"
            style="width: 20vw; max-width: 20rem; min-width: 13rem;"
          />
          <div class="form-group">
            <label for="exampleInputEmail1">Login</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="login"
              placeholder="Digite o seu Login aqui"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input
              type="password"
              class="form-control"
              [(ngModel)]="senha"
              placeholder="Digite sua Senha aqui"
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary btn-lg"
            style="margin: 5px;"
            (click)="logar()"
          >
            Entrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
