<div class="sidebar-wrapper">
  <div class="logo" style="height: 20vh;">
    <div class="logo-img">
      <img src="/assets/img/app-clinica.png" style="width: 17vw;" />
    </div>
  </div>
  <ul class="nav responsive-nav">
    <li *ngIf="isMobileMenu()">
      <a>
        <p>Sair</p>
      </a>
    </li>
    <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }}"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="{{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
